.copyright {
  background-color: #051922;
  border-top: 1px solid #232a35;
}

.copyrightPara {
  margin: 0;
  color: #fff;
  opacity: 0.7;
  padding: 16px 0;
  font-size: 15px;
}

.copyrightLink {
  color: #F28123;
  font-weight: 700;
}

.copyrightLink:hover {
  color: #f59d53;
}

.socialIconsUl {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialIconsList {
  display: inline-block;
}

.socialIconsLink {
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
  padding: 16px 10px;
  display: block;
}