.footerArea {
  background-color: #051922;
  color: #fff;
  padding: 150px 0;
}
.widgetTitle {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  padding-bottom: 20px;
  color: #fff;
}
.widgetTitle:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #F28123;
  content: "";
}

.footerBoxPara {
  color: #fff;
  opacity: 0.7;
  line-height: 1.8;
}
.footerBoxUl {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footerBoxList {
  opacity: 0.7;
  margin-bottom: 10px;
  line-height: 1.8;
}
.footerBox li:last-child {
  margin-bottom: 0;
}
.footerBoxSubscribeEmail  {
  border: none;
  background-color: #012738;
  width: 78%;
  padding: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
}
.footerBoxSubscribeBtn {
  width: 20%;
  border: none;
  background-color: #012738;
  color: #F28123;
  padding: 15px 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.footerBoxSubscribeBtn:focus {
  outline: none;
}
.footerBoxText{
  color: #fff;
}
.footerBoxPages ul li {
  position: relative;
  padding-left: 20px;
}
.footerBoxPagesItem {
  color: #F28123;
  margin-right: 7px;
  font-size: 10px;
  }